

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card{
  border-radius: 15px;
  margin-top: 100px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input{
  padding: 10px;
  text-align: center;
}



input[type="submit"]{
  border:2px solid blue;
  cursor:pointer;
  padding: 5px;
  font-size:18px;
  border-radius:10px;
  text-align: center;
  /* background-image: linear-gradient(to right, rgba(295,0,0,0), rgba(255,0,0,1)); */
  background-image: radial-gradient(circle, red, yellow, green,white);
}

input[type="submit"]:hover{
  border:2px solid black;
  cursor:pointer;
  font-size:19px;
  border-radius:10px;

}

table, th, td {
  border:1px solid black;
  color: aliceblue;
  padding: 10px;
}
th{
  font-family:'Courier New', Courier, monospace;
}



